@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-8xl mb-6 font-thin;
}

.wrapper {
  @apply h-screen w-screen flex flex-col justify-end items-center;
}

img {
  @apply h-20;
  fill: #ffffff;
}

button {
  @apply font-semibold;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
}

.buttons.top-row button {
  @apply bg-[#9f9f9f] text-black;
}

.calc {
  @apply max-w-sm mb-8;
}

.buttons {
  @apply flex flex-row gap-4 justify-center items-center my-4;
}

button {
  @apply bg-[#313131] rounded-full h-20 w-20 text-4xl flex justify-center items-center text-center p-0 m-0;
}

.buttons button:nth-child(4) {
  @apply bg-[#f69906] font-bold text-white;
}

.buttons.bottom-row {
  @apply mx-auto;
}

.buttons.bottom-row button:nth-child(1) {
  @apply flex-1 text-left justify-start;
}

.buttons.bottom-row button:nth-child(3) {
  @apply bg-[#f69906] font-bold;
}
