@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-8xl font-thin break-words;
}

.display-text {
  @apply flex-1 my-2;
}

.wrapper {
  @apply h-screen w-screen flex flex-col justify-end items-center;
}

button {
  @apply font-semibold;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
}

.buttons.top-row button {
  @apply bg-[#9f9f9f] text-black;
}

.calc {
  @apply mx-auto my-8 flex flex-col;
  max-width: 90vw;
}

.buttons {
  @apply flex flex-row gap-4 justify-center items-center my-4 max-w-sm outline-none;
}

button {
  @apply bg-[#313131] font-light rounded-full h-[5rem] w-[5rem] sm:h-20 sm:w-20 text-4xl flex justify-center items-center text-center p-0 m-0;
}

.buttons button:nth-child(4) {
  @apply bg-[#f69906] font-semibold text-white text-5xl;
}

.buttons.bottom-row {
  @apply flex flex-row justify-around gap-4;
}

.buttons.bottom-row button:nth-child(1) {
  @apply flex-1 text-left justify-start;
}

.buttons.bottom-row button:nth-child(3) {
  @apply bg-[#f69906] font-semibold text-5xl;
}
